asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
chardet==3.0.4
cliapp==1.20180812.1
cmdtest==0.32+git
configparser==3.5.0b2
cryptography==2.3
cycler==0.10.0
decorator==4.4.0
entrypoints==0.3
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
ipython==5.8.0
ipython-genutils==0.2.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==2.2.3
mercurial==4.8.2
numpy==1.16.2
olefile==0.46
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==1.0.16
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.3.1
PyGObject==3.32.0
pyparsing==2.2.0
PySide==1.2.2
python-dateutil==2.7.3
pytz==2018.9
PyX==0.12.1
pyxdg>=0.26
PyYAML==3.13
scandir==1.10.0
scapy==2.4.3
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.12.0
subprocess32==3.5.3
traitlets==4.3.2
ttystatus==0.38
wcwidth==0.1.7
